{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Acquire Driver {% endblock title %}

{% block title_page %}
    <h3>Acquire Driver</h3>
{% endblock title_page %}

{% block content %}
    <p>Request free agent drivers here. Depending on your waiver order, the driver will be added.</p>
    <p>What is "waiver order"? <em>Waiver order prevents a single team from drafting all of the best drivers without other teams having a chance to claim them. Depending on your waiver order, your claim will be filled either immediately (if you have the next waiver slot) or filled in 24 hours, pending someone with a higher waiver order from selecting them. Your picks will not broadcast to the league until they are completed.</em></p>

    <p>The league's waiver order is:</p>
    <ol>
        {% for team in waiverOrder %}
            <li>{{team.name}} ({{team.owner.username}}){% if team.owner == request.user %}*{% endif %}</li>
        {% endfor %}
    </ol>

    {% if waiverDrivers|length > 0 %}
        <p>Current Waivers</p>
        <ul>
            {% for driver in waiverDrivers %}
                <li>{{driver.racer.name}}{% if driver.getAllRemovals|length != 0 %} ==> drop={{driver.getAllRemovals}} {% endif %} (expires in {{driver.getTimeUntilExpire|timeuntil}})</li>
            {% endfor %}
        </ul>
    {% endif %}

    <table class='table'>
        <thead><th style="width: 21%"></th><th style="width: 50%">Racer</th><th>Team</th><th>Manuf</th><th>Bio</th><th>Pro2</th>{% for x in scoringValHeaders %}<th>{{x}}</th>{% endfor %}<th>all</th></thead>
        <tbody>
            {% for racer in available %}
                <tr>
                    <td>
                        <a href="{% url 'drift:trade' team.id racer.id %}" class="btn btn-primary">Request Trade</a>
                    </td>

                    <td><a href="{% url 'drift:viewRacer' racer.id %}">{{racer.racer.name}}</a></td>
                    <td>{{racer.racer.team_name}}</td>
                    <td>{{racer.racer.car_manuf}}</td>
                    <td><a href="">Bio</a> </td>
                    <td>{% if racer.racer.pro2 %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-minus-sign"></span>{% endif %}</td>
                    {% for pt in racer.allPointsLi %}
                        <td>{{pt}}</td>
                    {% endfor %}
                    <td>{{racer.allPoints}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}