{% extends "base.html" %}

{% block title %} Create League - Set Scoring {% endblock title %}

{% block title_page %}
    <h3>Create a League - Set Scoring</h3>
{% endblock title_page %}

{% block content %}
    <p>Here we set the point values for each of the scoring events. Scoring follows from the official Formula Drift scoring algorithm, except for qualifying, which has points distributed on the basis of qualifying position (32 = 1 points, 1 = 32 points). Below, we show the multiplier for qualifying position. You will select a team of drivers during the draft, so the Pro Cup winner will not necessarily guarantee you a win. Additionally, the Pro-Spec multiplier incentivizes picking relative unknowns.</p>
    <div class="content container">
        <form method="POST">
            {% csrf_token %}
            {% for opt in formOpts %}
                <p>
                    <label for="id_{{opt.0}}">{{opt.0|title}}</label>
                    <input type="number" id="id_{{opt.0}}" required name="{{opt.0}}" value="{{opt.1}}">
                </p>
            {% endfor %}
            <input type="submit" value="Save League Scoring">
        </form>
    </div>

{% endblock content %}

{% block javascript_footer %}

{% endblock %}