{% extends "base.html" %}

{% block title %} Event List {% endblock title %}

{% block title_page %}
    <h3>Event List</h3>
{% endblock title_page %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p><em>Events are races, which may be a combination of Pro and Pro-2 races. For more information about the schedule, visit the <a href="https://www.formulad.com/schedule">Formula Drift Schedule</a>. For results and other data used in Fantasy FD, click on the link.</em></p>
        </div>
    </div>
    {% for event in events %}
        <p><a href="{% url 'drift:viewEvent' event.id %}">{{ event.name }} in {{ event.location }} ({{ event.start }} to {{ event.end }}</a>)</p>
    {% endfor %}
{% endblock content %}