{% extends "base.html" %}

{% block title %} League: {{league.name}} {% endblock title %}

{% block title_page %}
    <h3>League: {{league.name}}</h3>
{% endblock title_page %}

{% block content %}

    <div class="row">
        {% if user == league.race_official %}
            <div class="col-sm-12">
                <a href="{% url 'drift:createLeague' league.id %}" class="btn btn-primary" role="button">Edit League</a>
                {% if draftInFuture %}
                    <a href="{% url 'drift:createLeagueScoring' league.id %}" class="btn btn-primary" role="button">Edit Scoring</a>
                    <a href="{% url 'drift:inviteToJoinLeague' league.id %}" class="btn btn-primary" role="button">Invite New Owner</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Overview Information</div>
                <div class="panel-body">
                    <ul>
                        <li>Race Official: {{league.race_official}}</li>
                        {% if draftInFuture %}
                            <li>Draft: {{league.draftdate.draft}} ({{league.raftdate.draft|timeuntil}})</li>s
                            
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if user == league.race_official and openInvites|length > 0  and draftInFuture%}
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Open Invitations Sent</div>
                    <div class="panel-body">
                        <ul>
                            {% for invite in openInvites %}
                                <li>{{invite.email}} - sent: {{invite.created_at|timesince}} ago, code: {{invite.key_code}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Teams</div>
                <div class="panel-body">
                    <ul>
                        {% for team in league.team_set.all %}
                            <li><a href="{% url 'drift:viewFantasyTeam' team.id %}">{{team.name}}</a> - {{team.owner}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}