{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Trades Dashboard {% endblock title %}

{% block title_page %}
    <h3>Trades Dashboard</h3>
{% endblock title_page %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Trades Proposed to Me</h3></div>
                <div class="panel-body">
                    {% if not tradesToMe.rows %}
                        <p>There are no trades proposed to you.</p>
                    {% else %}
                        {% render_table tradesToMe %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Trades I've Proposed</h3></div>
                <div class="panel-body">
                    {% if not tradesToOthers.rows %}
                        <p>There are no trades you have proposed.</p>
                    {% else %}
                        {% render_table tradesToOthers %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Players Available for Trade</h3></div>
                <div class="panel-body">
                    <table class='table'>
                        <thead><th style="width: 21%"></th><th style="width: 50%">Racer</th><th>Team</th><th>Manuf</th><th>Bio</th><th>Pro2</th>{% for x in scoringValHeaders %}<th>{{x}}</th>{% endfor %}<th>all</th></thead>
                        <tbody>
                            {% for racer in racers %}
                                <tr>
                                    <td>
                                        <a href="{% url 'drift:trade' team.id racer.id %}" class="btn btn-primary">Request Trade</a>
                                    </td>
    
                                    <td><a href="{% url 'drift:viewRacer' racer.id %}">{{racer.racer.name}}</a></td>
                                    <td>{{racer.racer.team_name}}</td>
                                    <td>{{racer.racer.car_manuf}}</td>
                                    <td><a href="">Bio</a> </td>
                                    <td>{% if racer.racer.pro2 %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-minus-sign"></span>{% endif %}</td>
                                    {% for pt in racer.allPointsLi %}
                                        <td>{{pt}}</td>
                                    {% endfor %}
                                    <td>{{racer.allPoints}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}