{% extends "base.html" %}

{% block title %} Team - {{team.name}} {% endblock title %}

{% block title_page %}
    <h3>{{team.name}}</h3>
{% endblock title_page %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>League: <a href="{% url 'drift:league' team.league.id %}">{{team.league.name}}</a></p>
            <p>Next event: <a href="{% url 'drift:viewEvent' nextEvent.id %}">{{nextEvent.name}} ({{nextEvent.start}} - {{nextEvent.end}})</a></p>        
            {% if draftInFuture %}
                <p>Draft: {{team.league.draftdate.draft}} ({{team.league.draftdate.draft|timeuntil}})</p>
                <p><em>The draft is each team's opportunity to select racers for the season. While a team can acquire drivers via trades and free agency, this is the opportunity for teams to acquire most of their talent. Make sure to participate in your league's draft. More details coming soon!</em></p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for topEvent in events %}
                {% if topEvent.end <= nextEvent.end %}
                    <a href="{% url 'drift:viewFantasyTeam' team.id topEvent.id %}">
                        {% if topEvent.end == nextEvent.end %}
                            <button type="button" class="btn btn-success">
                        {% else %}
                            <button type="button" class="btn btn-info">
                        {% endif %}
                            {{topEvent.start}}
                        </button>
                    </a>
                {% else %}
                    <a href="{% url 'drift:viewFantasyTeam' team.id %}">
                        <button type="button" class="btn btn-light">
                            {{topEvent.start}}
                        </button>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
        <h4>Active</h4>
            <p><em>Active drivers count toward the next event's score. Once the event starts (i.e. the day of), the lineup will be locked.</em></p>
            {% if active|length == 0 %}
                <li>There are no active drivers. If you have drivers on your team, click the "activate" button to move them into this slot.</li>
            {% else %}
                <table class='table'>
                    <thead><th style="width: 21%"></th><th style="width: 50%">Racer</th><th>this event</th><th>all</th></thead>
                    <tbody>
                        {% for racer in active %}
                            <tr>
                                <td>
                                    {% if owner %}
                                        <form id="deactivateForm" action="{% url 'drift:activateDriver' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" id="team" name="team" value="{{team.id}}">
                                            <input type="hidden" id="racer" name="racer" value="{{racer.id}}">
                                            <input type="hidden" id="status" name="status" value="False"}}>
                                            <button type="button" class="btn btn-outline-danger" name="submitButton" active="{{owner}}">Deactivate</button>
                                        </form>
                                    {% endif %}
                                </td>

                                <td><a href="{% url 'drift:viewRacer' racer.id %}">{{racer.racer.name}}</a></td>
                                <td>{{racer.eventPoints}}</td>
                                <td>{{racer.allPoints}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>TOTAL</td>
                            <td>{{totalPoints.active.eventPoints}}</td>
                            <td>{{totalPoints.active.allPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

        <h4>Inactive</h4>
            <p><em>Inactive drivers do not count toward an event's score. To move a driver to "inactive" click "Deactivate" from your list of active drivers.</em></p>
            {% if inactive|length == 0 %}
                <li>There are no inactive drivers</li>
            {% else %}
                <table class="table">
                    <thead><th style="width: 21%"></th><th style="width: 50%">Racer</th><th>this event</th><th>all</th></thead>
                    <tbody>
                    {% for racer in inactive %}
                        <tr>
                            <td>
                                {% if owner %}
                                    <form id="activateForm" action="{% url 'drift:activateDriver' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" id="team" name="team" value="{{team.id}}">
                                        <input type="hidden" id="racer" name="racer" value="{{racer.id}}">
                                        <input type="hidden" id="status" name="status" value="True"}}>
                                        <button type="button" class="btn btn-outline-success" name="submitButton">Activate</button>
                                    </form>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'drift:viewRacer' racer.id %}">{{racer.racer.name}}</a></td>
                            <td>{{racer.eventPoints}}</td>
                            <td>{{racer.allPoints}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>TOTAL</td>
                        <td>{{totalPoints.inactive.eventPoints}}</td>
                        <td>{{totalPoints.inactive.allPoints}}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block javascript_footer %}

    $('button[name="submitButton"]').click(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
    
        var form = $(this).closest("form");
        var url = form.attr('action');
        var data = form.serialize();
    
        $.ajax({
               type: "POST",
               url: url,
               data: data, // serializes the form's elements.
               done: function(data)
               {
                   alert(data); // show response from the php script.
               }
             });
        window.location.reload();
    
    });

{% endblock %}